/* * DEFAULT PARAMETERS OF THE CSS * */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
}

/* * END - DEFAULT PARAMETERS OF THE CSS * */

body{
    background-color: hsl(30, 54%, 90%);
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

h2 {
    color: hsl(14, 45%, 36%);
}

.bold {
    font-weight: 500;
}

.over-img {
    display: none;
}

.omelette-img {
    max-width: 100%;
    height: auto;
    border-radius: 3vmin;
    margin-bottom: 2.3px;
}

main {
    background-color: hsl(330, 100%, 98%);
    width:50%;
    min-width: 500px;
    margin: 100px auto;
    padding: 40px 50px;
    border-radius: 30px;
}

@media screen and (max-width: 500px) {
    main {
      margin:0;
      border-radius: 0;
    }
    .omelette-img {
        display: none;
    }
    .over-img {
        display: block;
        position: relative;
        top: 0;
        width: 500px;

    }
}

.prep-time {
    background-color: hsl(332, 51%, 32%, 0.1);
    padding: 0.75em 2rem;
    border-radius: 1rem;
    margin: 2rem 0;
}

.prep-time h3 {
    color:hsl(332, 51%, 32%);
    margin-bottom: 1rem;
}

.prep-time ::marker {
    color: hsl(332, 51%, 32%);
}

.ingredients ::marker, .instructions ::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 500;
}

ul li {
    margin: 0.3rem 0;
    list-style: inside;
}

ol li {
    margin: 1rem 0;
}

hr {
    margin: 3rem 0;
}

.decalage {
    margin: 0 1.3rem;
    display: inline-block;
}

.tabler {
    display: flex;
}

.column-1, .column-2{
    width: 50%;
}

.column-1 ul li, .column-2 ul li {
    list-style-type: none;
}

.tabler li {
    padding: 0.6rem 0;
    border-bottom: 1px solid;
}

.nutrition p {
    margin-bottom: 0.6rem;
}