*, *::after, *::before {
    box-sizing: border-box;
    margin: 0; 
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

html {
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--Eggshell);
}

.bold {
    font-weight: 600;
}

.space {
    position: relative;
    left: 1.5rem;
}

h1, h2 {
    font-family: "Young Serif", serif;
}
h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

p, li, td {
    font-size: 1.6rem;
    color: var(--Wenge-Brown);
}

.margin {
    margin: 2rem 0;
}

.bottom {
    margin-bottom: 2rem;
}

li {
    margin: 1.5rem 0;
}

.container {
    background-color: var(--White);
    max-width: 80rem;
    display: flex;
    justify-content: center;
    margin: 10rem auto;
    border-radius: 2rem;
    padding: 3.5rem 0;
}

.padding {
    background-color: var(--White);
    width: 90%;
}

.omelette {
    max-width: 100%;
    border-radius: 1rem;
}

.title h1 {
    font-weight: 700;
    margin-bottom: 2rem;
}


.preparation {
    background-color: var(--Rose-White);
    padding: 3rem;
    border-radius: 2rem;
 
}

.preparation h2,  .preparation ::marker {
    font-size: 2.2rem;
    font-family: "Outfit", sans-serif;
    color: var(--Dark-Raspberry);
}

.ingredients h2, 
.ingredients ::marker,
.instructions h2,
.instructions ::marker {
    color: var(--Nutmeg);
}

table, td {  
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 1rem 0;
}

.nutrition .bold{
    color: var(--Nutmeg);
}

.omelette-hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    .container {
      margin:0;
      border-radius: 0;
    }
    .omelette {
        display: none;
    }
    .omelette-hidden{
        display: block;
        position: relative;
        top: 0;
        max-width: 100%;

    }
}

hr {
    margin: 2rem 0;
    opacity: .7;
    background-color: var(--Light-Grey);
    border: 1px solid var(--Light-Grey);
}