*, *::after, *::before {
    box-sizing: border-box;
    margin: 0; 
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry-Low: hsl(332, 51%, 32%, .2);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

html {
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--Eggshell);
}

.margin {
    margin: 1.5rem 3rem;
}

.bold {
    font-weight: 700;
}

.space {
    position: relative;
    left: 1.5rem;
}

h1, h2 {
    font-family: "Young Serif", serif;
}

.container {
    background-color: var(--White);
    max-width: 80rem;
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-radius: 2rem;
}

.omelette {
    max-width: 100%;
    height: auto;
    margin: 3rem 3rem 1rem 3rem;
    border-radius: 1rem;
}


@media only screen and (max-width: 500px) {
    .omelette {
      margin: 0 0 2rem 0;
      border-radius: 0;
    }
    .container {
        border-radius: 0;
        margin: 0;
    }
}

.title h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.title p {
    font-size: 1.6rem;
    color: var(--Wenge-Brown);
    font-weight: none;
}

.preparation {
    background-color: var(--Dark-Raspberry-Low);
    padding: 2rem;
    border-radius: 1rem;
}

.preparation h2{
    color: var(--Dark-Raspberry);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.preparation li {
    margin: 1rem 0;
    font-size: 1.6rem;
}
